<div>
    <form class="example-form" [formGroup]="loginForm" (ngSubmit)="doLogin()">

        <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter Name" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter Password" formControlName="password">
        </mat-form-field>

        <input type="checkbox" placeholder="Enter Password" formControlName="remember" [checked]="remember"
            (click)="rememberMe($event.target.checked)">
        remember me
        <br>

        <button type="submit">Login</button>

    </form>
</div>